:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.cadastre-se {
  background-color: #003785

  ;
  color: white;
  padding: 7px;
  text-align: center;
}


.linkscategory{
  display: flex;
  flex-wrap: wrap; 
  gap: 5rem;
  justify-content: center;
  list-style-type: none;
  border-bottom: 0.5px solid #4a30cd60;
  padding: 10px 0px;
}


main {
  height: auto;
}

.navbar {
  background-color: #1465bb;
  height: 15vh;
}

.nav-link-custom {
  color: white;
  font-weight: bolder;
  font-size: 2rem;
}

.search-input-custom {
  background-color: white;
  color: #213547;
  margin-top: 0.5rem;
  border-radius: 10px;
  border: none;
  width: 40vw;
  padding: 10px;
}

.dropdown-toggle-custom {
  color: white;
}


.products > ul > li {
  width: 250px;
  height: 450px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  line-height: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.034), -2px -2px 5px rgba(0, 0, 0, 0.164);
}
.products > ul > li:hover{
  border: 1px solid #1465bb;
}

.products > ul > li > img {
  width: 200px;
  height: 180px;
  margin: 0px 10px;
}

.products > ul > li > a > button {
  padding: 15px 10px;
  background-color: #1465bb;  
  margin: 3rem 1rem;
  width: 200px;
  border-radius: 10px;
}
.products > ul > li > a > button:hover{
  background-color: #003785;
}

.email-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: #003785;
}

.email-footer > h2 {
  width: 50vw;
  color: white;
  text-align: center;
}

.email-footer > input {
  width: 50vw;
  padding: 15px 10px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  background-color: white;
  color: #242424;
  outline: none;
}

.email-footer > button {
  padding: 15px 20px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  color: #003785;
  font-weight: 500;
  background-color: white;
}

.institutional-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding: 1px;
}

.institutional-footer > div {
  width: 30vw;
  height: 30vh;
  text-align: center;
  line-height: 2rem;
}

.institutional-footer > div > a {
  color: #003785;
  font-weight: bolder;
  font-size: 3rem;

}

.institutional-footer > div > .follow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0rem 1rem;
  margin-top: 3rem;
}

.header-register{
  height: 20vh;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #003785;
  border-bottom: 1px solid #003785;
}

form{
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  width: 90vw;
  gap: 2rem;
  margin-top: 20px;
}

form > div {
  display: flex;
  justify-content: center;
  width: 90vw;
  gap: 2rem;
  color: #003785;
}

form > div > div >  input,
select {
  border-radius: 10px;
  height: 3rem;
  width: 18rem;
  background-color: #003785;
}


form > div > textarea {
  background-color: white;
  width: 70vw;
  border-radius: 10px;
  color: #003785;
}


.form-control {
  background-color: #003785;
  display: flex;
  gap: 3rem;
  color: white;
}

.button-submit {
  background-color: #003785;
  padding: 10px 30px;
  width: 20rem;
  border-radius: 10px;
}

.button-submit:hover {
  background-color: #1465bb;
  border: 2px solid #003785;
}






   

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
